<div class="container">
  <h2>Customer Details</h2>
<p-dataTable [value]="customers">
  <p-column field="customer.id" header="Id" [sortable]="true"></p-column>
  <p-column field="customer.name" header="Name" [sortable]="true">  <ng-template let-col let-customer="rowData" pTemplate="body">
    <a routerLink="/customer/{{customer.customer.id}}" style="color:#337ab7">{{customer.customer.name}}</a>
  </ng-template></p-column>
  <p-column field="customer.email" header="Email" [sortable]="true"></p-column>
  <p-column field="customer.phone" header="Phone" [sortable]="true"></p-column>
  <p-column field="customer.branch_id" header="Branch_id"></p-column>
  <p-column field="customer.status" header="status" [sortable]="true"></p-column>
  <p-column field="account_number" header="Account Id" [sortable]="true"></p-column>
</p-dataTable>
</div>
