<div class="container">
  <form #customerForm="ngForm" (ngSubmit)="create(customerForm.value)">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control"  [(ngModel)]="customer.name" id="name" name="name" required>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control"  [(ngModel)]="customer.email" id="email" name="email" required>
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="number" class="form-control"  [(ngModel)]="customer.phone" id="phone" name="phone" required>
    </div>


    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
